<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<header>
    <h1> <a href="/" class="white-link"> 셀프 라디오 </a> </h1>
    <div class="search-bar">
        <input type="text" placeholder="통합 검색">
        <button>검색</button>
    </div>
</header>