{{>layouts/header}}
{{>layouts/categories}}
<div class="main-container">
    <!-- 카테고리 제목 -->
    <div class="gallery-header">
        <h2>{{article.category}}</h2>
    </div>

    <!-- 글 내용 표시 -->
    <div class="article-container">
        <div class="article-header">
            <h2 class="article-title"> {{article.title}}</h2> <!-- 글 태그 및 제목 -->
            <p class="article-meta">
                작성자: {{article.writer}} | 작성일:23.12.23
            </p>
        </div>

        <div class="article-content">
            {{{article.content}}} <!-- HTML 내용 렌더링 -->
        </div>

    </div>
</div>

<footer>
    <p>© 2025 Your Website. All rights reserved.</p>
</footer>
</body>
</html>
